<!DOCTYPE html>
<html lang="pt-br">
{%extends 'base.html'%}
{% load static %}
{% block conteudo %}
<h3>Bem-vindo,</h3>
<p>Você pode conhecer o sistema sem realizar login de acesso, mas se desejar utilize um login abaixo
  para testar todas as funcionalidades (senha: senh@123).</p>

    <div class="table-responsive">
      <table class="table">

        <thead class="thead-dark">
            <tr>
              <th scope="col">Gestão de Documentos Interno</th>
              <th scope="col">Gestão de Documentos Externo</th>
            </tr>
          </thead>

        <thead class="thead-light">
          <tr>
            <th>Principais funcionalidades</th>
            <th>Principais funcionalidades</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Todos</td>
            <td>gsgq</td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}