<!--MATERIAL DE APOIO:
https://www.youtube.com/watch?v=_-3nHZHkn4M
-->

<!DOCTYPE html>
<html lang="pt-br">
{%extends 'base.html'%}
{% load static %}
{% block conteudo %}
<!--
<div class="container">
    <div class="box">
        <b>Documentos Interno</b>
        <ul>
            <li>teste</li>
        </ul>
    </div>
    <div class="box">2</div>
    <div class="box">3</div>
</div>
<div class="container">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
</div>
-->
{% endblock %}